@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  /* --primary-color: #47d630;
  --primary-dark: #3fb12e; */

  --primary-color: #0a79df;
  --primary-dark: #4834df;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.title {
  width: 28%;
  margin: 50px auto;
  text-align: center;
}
.title h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.title .line {
  width: 100%;
  height: 5px;
  margin-top: 7px;
  background: var(--primary-dark);
  border-radius: 0 50% 0 50%;
}

#main__container {
  width: 100%;
  height: 600px;
  background: linear-gradient(90deg, var(--primary-dark), var(--primary-color));
  padding: 0.4px;
  position: relative;
}

.custom-shape-divider-bottom-1603120108 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1603120108 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 275px;
}

.custom-shape-divider-bottom-1603120108 .shape-fill {
  fill: #ffffff;
}

#main__container nav {
  width: 95%;
  height: 70px;
  margin: 20px auto;
  line-height: 70px;
  background: transparent;
  display: flex;
}

#main__container nav .navbar-brand {
  flex: 45%;
}
#main__container nav .navbar-brand a {
  margin-left: 30px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
}

#main__container nav .navbar-menu {
  flex: 55%;
  list-style: none;
  display: flex;
  text-align: center;
}

#main__container nav .navbar-menu li {
  flex: 20%;
}

#main__container nav .navbar-menu li a {
  color: #fff;
  font-size: 0.87rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: all 0.4s ease;
  display: block;
  font-weight: 400;
}

#main__container nav .navbar-menu li a:hover {
  font-weight: 500;
  font-size: 0.92rem;
  background: #fff;
  color: var(--primary-color);
}

#main__container #showcase-area {
  width: 95%;
  height: 300px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

#main__container #showcase-area .sa-l {
}

#main__container #showcase-area .sa-l h1 {
  color: #fff;
  font-size: 3rem;
  margin-left: 30px;
}

#main__container #showcase-area .sa-l p {
  color: rgb(241, 241, 241);
  font-size: 1.1rem;
  margin-left: 30px;
  line-height: 28px;
  margin-top: 15px;
}

#main__container #showcase-area .sa-l .btn {
  color: var(--primary-color);
  font-size: 1rem;
  margin-left: 30px;
  margin-top: 20px;
  width: 160px;
  height: 55px;
  background: #fff;
  border: 0;
  display: block;
  text-align: center;
  line-height: 55px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: all 0.4s ease;
}

#main__container #showcase-area .sa-l .btn:hover {
  background: var(--primary-color);
  color: #fff;
}

#main__container #showcase-area .sa-r .image-wrapper {
  width: 400px;
  height: 350px;
  margin: 0px auto;
  background: url(./images/support-team.png) no-repeat center / cover;
}

#team-area {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-gap: 50px;
}

#team-area .member {
  padding: 26px;
  box-shadow: 0px 1px 15px #eeeeee;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s ease;
}

#team-area .member:hover {
  transform: translateY(-20px);
}

#team-area .member h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

#team-area .member h6 {
  font-weight: normal;
  font-size: 0.85rem;
  color: grey;
}

#team-area .member p {
  font-size: 0.8rem;
  line-height: 24px;
  color: rgb(156, 156, 156);
  text-align: justify;
  margin-top: 15px;
  letter-spacing: 1px;
}

#team-area .member .tm-image-wrapper {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  border-radius: 100%;
  margin-bottom: 5px;
  border: 2px solid rgb(184, 184, 184);
}

/* Feature area */
#feature-area {
  width: 90%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

#feature-area .fa-l h2 {
  font-weight: 500;
  font-size: 2.2rem;
}

#feature-area .fa-l p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  color: rgb(156, 156, 156);
  text-align: justify;
  margin-top: 15px;
}

#feature-area .fa-r .fa-image-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background: url(./images/remote-team.png) no-repeat center / cover;
  animation: slideArts 10s 5s ease infinite;
}

#feature-area .fa-l .btn {
  color: #fff;
  font-size: 1rem;
  margin-top: 25px;
  width: 160px;
  height: 55px;
  background: var(--primary-color);
  border: 0;
  display: block;
  text-align: center;
  line-height: 55px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: all 0.4s ease;
}

#feature-area .fa-l .btn:hover {
  background: var(--primary-dark);
}

@keyframes slideArts {
  0% {
    background: url(./images/remote-team.png) no-repeat center / cover;
  }
  25% {
    background: url(./images/task.png) no-repeat center / cover;
  }
  50% {
    background: url(./images/project-manager.png) no-repeat center / cover;
  }
  75% {
    background: url(./images/scrum-board-2.png) no-repeat center / cover;
  }
  100% {
    background: url(./images/facebook-ads.png) no-repeat center / cover;
  }
}
